/* 通用样式 */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: #000000;
    position: relative;
    scroll-behavior: smooth;
}

.container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 漂浮动画 */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* 顶部导航栏样式 */
header {
    display: flex;
    justify-content: space-between;
    top : 0;
    position: fixed;
    align-items: center;
    width: 100%;
    padding: 20px 50px 20px 50px;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 3;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #0ff;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

header nav {
    position: absolute;
    right: 10vw;
    align-items: center;
}

header nav a {   
    margin-left: 30px;
    margin-right: 3vw;
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

header nav a:hover {
    color: #0ff;
}

/* 介绍板块样式 */
.introduction {
    text-align: center;
    margin-top: 200px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    color: #0ff;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
    text-decoration: none;
    font-size: 20px;
    color: #e6eeef;
    padding:30px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    line-height: 20px;
    width: 30%;
    height: 65%;
}

.introduction h2 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #0ff;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
}

.introduction h3 {
    text-align: left;
    font-size: 22px;
    margin-bottom: 40px;
    color: #0ff;
    text-shadow: 0 0 10px rgba(100, 174, 223, 0.7);
}

.introduction p {
    font-size: 22px;
    margin-bottom: 30px;
    text-align: left;
    color: #0ff;
}


.image-container {
    text-align: center;
    margin-top: 200px;
    margin-right: 10%;
    margin-bottom: 10%;
    color: #0ff;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
    text-decoration: none;
    font-size: 20px;
    padding:30px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    width: 27%;
    line-height: 30px;
}

.output {  
    margin-top: 10px;  
    margin-bottom: 10px;
    font-size: 1.2em;  
    font-weight: bold; 
    color: #fdfdfd; 
}  
input[type="range"] {  
    width: 80%;  
    margin: 20px 0;  
}  
input[type="number"] {  
    width: 70px;  
    text-align: center;  
    margin: 0 5px;  
}  

#polynomial-input {
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin: 10px;
    padding: 1px 2% 1px 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #030303;
}

#coefficients {
    margin-bottom: 10px;
    
}

label {
    margin-right: 10px;
    font-size: 1.2em;  
    font-weight: bold; 
    color: #fdfdfd; 
}

input {
    margin-bottom: 10px;
      font-size: 1.2em;  
    font-weight: bold; 
    color: #030303; 
}

button {  
    padding: 10px 20px;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 16px;  
    color: #ffffff;  
    background-color: #60bcc2; /* 默认为蓝色 */  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    transition: background-color 0.3s;  
}  
button:hover {  
    background-color: #97c6ce;  
}  
button:hover.dark-mode {  
    background-color: #85b9cd;  
}  


/* 粒子背景 */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* 粒子背景层次最低 */
}

/* 底部样式 */
footer {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px 0;
    height: 30px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer p, footer a {
    color: #ccc;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 14px;
}

footer a:hover {
    color: #0ff;
    z-index: 3;
}
